{{#if rooms}}
	<div class="list-rooms-header">{{t 'room.listOfRoomsHeader'}}</div>
	<ul class="list-unstyled list-rooms">
	
		{{#each item in rooms}} 
			<li>
				{{room-item room=item}}
			</li>
		{{/each}}
	</ul>
{{/if}}

