#spinner {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


.center {
	text-align: center;
}


.tooltip {
	opacity: 1 !important;
}


.room-link {
	-webkit-tap-background-color: #ccc;
}

#main-header {
	.main-header-title {
		text-transform: uppercase;
	}
}


&.loading {
	#spinner {
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -15px;
		padding-top: 8px;
		z-index: 10;
		width: 50px;
		height: 50px;
		background: @gray-dark;
		border-radius: 4px;
		text-align: center;
		.fa {
			font-size: 30px;
			color: #fff;
		}
	}
}

/* main navigaton */
nav {
	.list-group {
		border-color: red;
		.list-group-item {
			overflow: hidden;
			padding:0;
			a {
				display: block;
				padding: 10px 15px;
				color: #333333;

				&.active {
					background: #f2f2f2;
				}
			}

		}
	}
}


#filter {
	select {
		margin-bottom: 20px;
	}
}

.pleaseSelectPromptText {
	margin-top: 20px;
	color: @gray-lighter;
	font-weight: bold;
	font-size: 1.8em;
}



.header {
	margin-bottom: 10px;
	text-align: center;
	font-size: 1em;
	font-weight: bolder;

}

.list-rooms {
	a {
		color: @gray-dark;
	}
	>li {
		@media (min-width: @screen-sm-min) {
			&:hover {
				transition:.2s;
				.arrow {
					color: @gray-dark !important;
					transition: .9s;
				}
			}
		}
		border-bottom: 1px solid #ccc;
		padding: 10px 5px;
		&:first-child {
			//border-top: 1px solid #ccc;
    	}

		#room-component-item {

			cursor: pointer;
			.room-title {
				font-size: 1em;

			}
			.room-meta {
				font-size: .8em;
			}

			.arrow {
				margin-top: 30px;
				margin-right: 20px;
				color: #ccc;

			}
			.room-availible-intervals {
				float: left;
		    	.room-availible-intervals-list {
		    		float: left;
		    		li {
		    			text-align: center;
		    			width: 25px;
		    			display: inline-block;
		    			float:left;
		    			margin-right: 5px;
		    			font-size:.6em;


		    			.circle {

		    				margin: 0 auto;
		    				margin-bottom: 5px;
		    				display: block;
		    				width: 15px;
		    				height: 15px;
		    				border-radius: 50%;
		    				border: none;
		    			}

		    		}
		    	}
		    }
		}
	}
}


#room-single-view {
	.go-back-btn {
		margin-bottom: 20px;
	}
	.room-info {
		margin-bottom: 20px;
		.library {
			font-size: .8em;
		}
		.room-title {
			font-size: 1.2em;
		}
		.room-meta {
			font-size: .8em;
			margin-top: -2px;
		}
		.date {
			margin-top: 5px;
			font-size: .8em;
		}
	}
	.list-bookings {

    	.booking-item {
	    	.status {
	    		.circle {
	    			margin: 0;
	    		}
	    		float: left;
	    		margin-right: 10px;
	    	}
	    	.interval {
	    		float: left;
	    		font-size: .8em;
	    		margin-right: 10px;

	    	}
	    	.status-in-text {
	    		color: #ccc;
	    		float: left;
	    		font-size: .8em;

	    	}

    	}

    	.footer {
    		margin-top: 20px;
    		.header {
    			text-align: center;
    			font-weight: bolder;
    			@media (max-width: @screen-sm-max) {
    				margin-bottom: 10px;
    			}
    		}

    		.btn-area {
    			text-align: center;
	    		.btn {
	    			width: 200px;
	    		}
    		}


    	}

	}
}

#my-bookings {
    .btn-area {
    	margin-bottom: 20px;
    	margin-top: 20px;

    	.btn {
    		margin-bottom: 10px;
    	}
    }

	.booking-item {
		.indicator {
			margin-top: 10px;
		}

	}
	.room-info {
		.status {
    		margin-top: 3px;
			float: left;
			margin-right: 10px;
		}
		.info {
			float: left;
			.location {
				font-size: .8em;
			}
			.room-title {
				font-size: .8em;

			}
			.room-meta {
				color: #ccc;
				font-size: .8em;
				margin-top: 5px;
			}
			.date {
				margin-top: 5px;
				font-size:  1em;
			}
			.room-location {
				.room-meta();
				margin-top: 0;
			}
			.signature {
				.room-meta();
				margin-top: 0;
			}
		}
	}

	.list-of-confirmables {
		float: left;
		width: 100%;
		>li {
			float: left;
			width: 100%;
			border-bottom: 1px solid #ccc;
			padding: 5px 5px;
			&:first-child {
				border-top: 1px solid #ccc;
		    }
		}
		margin-bottom: 40px;
		.circle {
			&.\34 {
				background: @orange;
			}
		}



	}

}




.accordian-list {
	>li {

		border-bottom: 1px solid #ccc;
		padding: 5px 5px;
		&:first-child {
			border-top: 1px solid #ccc;
    	}
		.accordian-item {
			cursor: pointer;
			padding:  0;
	    	.indicator {
	    		color: @gray-light;
	    		.fa {
	    			transition:all 2s ease-in-out;
	    			&.rotate {
	    				transform:rotateX(180deg);
	    			}
	    		}
	    	}
		}
    }


}

.list-unstyled {
	li {
		float: left;
		width: 100%;
		padding: 10px 0;
	}
}

.login-form {
	.btn {
		min-width: 200px;
	}
}

.center-content {
	text-align: center;
}

.book-feedback-graphics {
	font-size: 2em;
	color: @brand-success;
}


.circle {
	&.\31 {
		background: @green;
	}
	&.\32 {
		background: @red;
	}
	&.\33 {
		background: @yellow;
	}
	&.\34 {
		background: @red;
	}
	&.\35 {
		background: @red;
	}
	margin: 0 auto;
	margin-bottom: 5px;
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	&.large {
		width: 30px;
		height: 30px;
	}
}


.muted {
	opacity: .6;
}
.warning {
	color: @brand-warning;
}

.danger {
	color: @brand-danger;
}
