<div class="container">
	<div class="row">
		<div class="col-xs-12">
		</div>
	</div>
	<div class="row">
		<nav class="col-xs-12 col-md-3">
			<ul class="list-group">
				<li class="list-group-item">{{#link-to 'index'}}{{t 'mainNav.nav1'}}{{/link-to}}</li>
				<li class="list-group-item">{{#link-to 'bookings'}}{{t 'mainNav.nav2'}}{{/link-to}}</li>
			</ul>
		</nav>

		<main class="col-xs-12 col-md-9">
			{{outlet}}
		</main>
	</div>
	

</div><!-- end container -->
