<header id="main-header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<a class="pull-right" href="javascript:void();" {{action 'toggleLang'}}>{{t 'swithchToLanguageString'}}</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h1 class="main-header-title">{{t 'header.title' }}</h1>
			</div>
		</div>
	</div>
</header>
